{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Reset Complete</legend>
                <p>Your password has been successfully reset. You can now log in with your new password.</p>
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-info" href="{% url 'login' %}">
                    Go to Login
                </a>        
            </div>
        </form> 
    </div>
{% endblock content%}